 a {
 	color: #7c037c;
 }
 
 li {
	color:#fa0574; 
	font-size: 14px;
	
 }
 
 body {
 	font-family: "arial";
 	 

 }
 
 h6 {
 	font-size: 20px;
 	color= red;
 }

 ul {
	
	font-size: 25px;
 }
 

 
 
div{
	
}
 
