<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<div class="col-9 este" layout:fragment="contenido">
	<ul class="nav nav-tabs">
	  
	  <li class="nav-item">
	    <a class="nav-link active" href="/noticias/deporte">Deporte</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/noticias/espectaculo">Espectaculo</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/crearNoticia">Crear</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/noticias/politica">Politica</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/noticias/turismo">Turismo</a>
	  </li>
	
	</ul>
</div>








</html>